.form{
    background-color: white;
    width: 560px;
    padding: 20px 0;
    height: 650px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
  
    
}


.form .field{
    
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
   
}

.button{
    margin-top: 3rem;
    
}

.alter{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%);
}

a{
    cursor: pointer;
    color: blue;
}